#dock, #start {
    background: rgb(68, 68, 68);
}

#start QPushButton {
    font: 16pt;
}

#dock QPushButton {
    background: rgb(68, 68, 68);
    color: white;
    min-height: 70px;
    min-width: 120px;
    color: white;
    border: none;
    font: 22pt "Ostrich Sans";
}

#dock QPushButton:hover { /*, #frame_sidebar SolidTabButton:focus {*/
    background: url(:/application/gradient.png) repeat-y center right rgba(255, 255, 255, 70);
}

#dock QPushButton:checked {
    background: url(:/application/gradient.png) repeat-y center right rgb(83, 83, 83);
}

#dock QPushButton:disabled {
    color: url(:/application/gradient.png) repeat-y center right rgb(166, 166, 166);
}

#dock QPushButton:horizontal {
    height: 6px;
    background: url(:/application/gradient.png) repeat-y center right rgba(0, 0, 0, 0);
    border: 0;
}

#dock QProgressBar::chunk:horizontal {
    background: rgba(255, 255, 255, 70);
}
