YonderGui {
    /*background: rgb(83, 83, 83);*/
}

YonderPushButton {
    /*background: rgb(68, 68, 68);
    border: none;
    color: white;*/
    min-height: 36px;
    min-width: 120px;
}

#frame_sidebar {
    background: url(:/application/gradient.png) repeat-y center right rgb(68, 68, 68);
    border: none;
}

#frame_sidebar SolidTabButton, #frame_sidebar QLabel {
    background: none;
    color: white;
    border: none;
    font: 22pt "Ostrich Sans";
}

#frame_sidebar SolidTabButton:hover { /*, #frame_sidebar SolidTabButton:focus {*/
    background: url(:/application/gradient.png) repeat-y center right rgba(255, 255, 255, 70);
}

#frame_sidebar SolidTabButton:checked {
    background: url(:/application/gradient.png) repeat-y center right rgb(83, 83, 83);
}

#frame_sidebar SolidTabButton:disabled {
    color: url(:/application/gradient.png) repeat-y center right rgb(166, 166, 166);
}

#frame_sidebar QProgressBar:horizontal {
    height: 6px;
    background: url(:/application/gradient.png) repeat-y center right rgba(0, 0, 0, 0);
    border: 0;
}

#frame_sidebar QProgressBar::chunk:horizontal {
    background: rgba(255, 255, 255, 70);
}
